@model IEnumerable<PainelCipa.Models.Election>

@{
    ViewData["Title"] = "Eleições";
}

    <div class="page-header" style="border-bottom: 1px solid #eee">
        <h1>Eleições</h1>
    </div>

<p>
    <a asp-action="Create">Criar uma nova eleição</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasFinished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasStarted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasFinished)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasStarted)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
